<div class="signup-container">
  <h2>Créer un compte</h2>
  <form (ngSubmit)="onSignup()" #signupForm="ngForm">

    <div class="input-box">
      <input type="text" name="firstName" [(ngModel)]="signupObj.firstName" required>
      <label>Prénom</label>
    </div>

    <div class="input-box">
      <input type="text" name="lastName" [(ngModel)]="signupObj.lastName" required>
      <label>Nom</label>
    </div>

    <div class="input-box">
      <input type="email" name="email" [(ngModel)]="signupObj.email" required>
      <label>Email</label>
    </div>

   <div class="input-box">
  <input type="password" name="motDePasse" [(ngModel)]="signupObj.motDePasse" required>
  <label>Mot de passe</label>
</div>

    <button type="submit" class="btn" [disabled]="signupForm.invalid">S'inscrire</button>
  </form>
</div>

